<!DOCTYPE html>
<html class="no-js" lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Pet-Family - API</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->

        <link rel="stylesheet" href="assets/css/default.css">
        <link rel="stylesheet" href="assets/css/style.css">

    </head>
    <body>

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="breadcrumb_bg.jpg" style="background-image: url(&quot;assets/images/breadcrumb_bg.jpg&quot;);">
                
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-110 pb-110">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row justify-content-center justify-content-lg-between">
                            <div class="col-lg-12 col-md-12 order-2 order-lg-0">
                                <div class="contact-title mb-20">
                                    <h6 class="sub-title">Programação Web Avançada - Luís Bastos</h6>
                                    <h2 class="title">PetFamily API<span>.</span></h2>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </main>

</body></html>